<div class="burger">

	<h3 class="name">{{burger_name}}</h3>

	<div class="action">
		{{! If Uneaten add an eat button}}
		{{#unless devoured}}
			<button class="change-devoured" data-id="{{id}}">
				Devour it!
			</button>
		{{/unless}}

		<button class="delete" data-id="{{id}}">
			<i class="material-icons"></i>
		</button>
	</div>

	{{! If Eaten, option to review}}
	{{#if devoured}}
		<div class="review" data-id="{{id}}">
			<h4>Rate your burger</h4>

			<div class="rate"> 
				{{! five star review is empty}}
				<i class="material-icons" data-value="1"></i>
				<i class="material-icons" data-value="2"></i>
				<i class="material-icons" data-value="3"></i>
				<i class="material-icons" data-value="4"></i>
				<i class="material-icons" data-value="5"></i>
			</div>
			{{!-- 
			{{#if rated}}
				
			{{else}}
			<form>
				<label for="burger-review">
					<input id="burger-review" type="textarea" name="review">
					<button>submit</button>
				</label>
			</form>
			{{/if}} --}}
		</div>
	{{/if}}

</div>
